body{
 font-family: "Montserrat", sans-serif;
 margin: 0;
 padding: 0;
background-image: url('images/Background.png');
 color: #e0e0e0; /* Light gray for good contrast */
 background-repeat: no-repeat;
 background-position: center;
  background-size: cover;
  background-color: #131321;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, rgba(0, 217, 255, 0.061) 0%, transparent 70%);
  background-repeat: no-repeat;
  background-size: 40vw 50vh; /* smaller, floating light */
  background-position: 0% 50%;
  animation: moveLight 20s ease-in-out infinite;
  z-index: -1;
  pointer-events: none;
  animation: moveLight 18s ease-in-out infinite, pulseGlow 9s ease-in-out infinite;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, rgba(162, 136, 211, 0.145) 0%, transparent 70%);
  background-repeat: no-repeat;
  background-size: 35vw 50vh;
  background-position: 100% 60%;
  animation: moveLightReverse 27s ease-in-out infinite;
  z-index: -1;
  pointer-events: none;
  animation: moveLightReverse 24s ease-in-out infinite, pulseGlow 10s ease-in-out infinite;
}

.glow-third {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, rgba(255, 120, 90, 0.1) 0%, transparent 70%);
  background-repeat: no-repeat;
  background-size: 35vw 50vh;
  background-position: 100% 100%;
  animation: moveDiagonal 32s ease-in-out infinite, pulseGlowAlt 12s ease-in-out infinite;
  z-index: -1;
  pointer-events: none;
}

.glow-fourth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, rgba(255, 150, 222, 0.088) 0%, transparent 70%);
  background-repeat: no-repeat;
  background-size: 35vw 50vh;
  background-position: 0% 100%; /* Start bottom left */
  animation: moveBottomLeftToTopRight 14s ease-in-out infinite, pulseGlowFourth 11s ease-in-out infinite;
  z-index: -1;
  pointer-events: none;
}

@keyframes moveBottomLeftToTopRight {
  0% {
    background-position: 0% 100%;
  }
  25% {
    background-position: 25% 75%;
  }
  50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 75% 25%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes moveLight {
  0% {
    background-position: 0% 50%;  /* start left center */
  }
  25% {
    background-position: 25% 40%; /* move up */
  }
  50% {
    background-position: 100% 50%; /* move right */
  }
  75% {
    background-position: 75% 60%; /* move down */
  }
  100% {
    background-position: 0% 50%;  /* return to left center */
  }
}

@keyframes moveLightReverse {
  0% {
    background-position: 100% 60%;
  }
  25% {
    background-position: 75% 70%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 25% 40%;
  }
  100% {
    background-position: 100% 60%;
  }
}

@keyframes moveDiagonal {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 75% 75%;
  }
  50% {
    background-position: 0% 0%;
  }
  75% {
    background-position: 25% 25%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes pulseGlowAlt {
  0%, 100% {
    background-size: 35vw 70vh;
    opacity: 1;
  }
  50% {
    background-size: 45vw 70vh;
    opacity: 0.75;
  }
}

@keyframes pulseGlow {
  0%, 100% {
    background-size: 40vw 80vh;
    opacity: 1;
  }
  50% {
    background-size: 50vw 90vh;
    opacity: 0.85;
  }
}

@keyframes pulseGlowFourth {
  0%, 100% {
    background-size: 30vw 70vh;
    opacity: 1;
  }
  50% {
    background-size: 40vw 90vh;
    opacity: 0.8;
  }
}

.NavBar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 

}

.NavBar-text{
    color: #D1DAD0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.9em;
    padding-left: 1.5em;
}

.NavBar-title{
    margin: 0;
    font-weight: 500;
    font-size: 1.3em;
}

.NavBar-links{
    margin: 0;
    font-weight:300;
    font-size: 1.1em;
}

.NavBar-LoginBTN{
    display: flex;
    color: #ffffff;
    background-color: #131321;
    font-size: 1.1em;
    height: 1.8em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    width: 6.1em;
    font-weight: 250;
    margin-right: 1.5em;
    cursor: pointer;
    border: #777777, 0.4px, solid;

    
}


.ManagerAppContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 3em;
    gap: 20em;
    

}

.ManagerApp-leftWidgetContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(43, 43, 43, 0.13); /* translucent white */
    backdrop-filter: blur(12px);           /* this adds the blur */
    -webkit-backdrop-filter: blur(12px);   /* for Safari */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* gives depth */
    border: 0.5px solid rgba(255, 255, 255, 0.2); /* subtle border */
    width: 21em;
    height: 17em;
    margin-top: 5em;
    border-radius: 2.5em;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 18em;
    margin-bottom: 11em;

}

.glassy-button {
  background: rgba(255, 255, 255, 0.13); /* translucent white */
  backdrop-filter: blur(12px);           /* this adds the blur */
  -webkit-backdrop-filter: blur(12px);   /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 300;
}

.glassy-button:hover {
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0 0 3px #0ff0fcb4;
  border-color: #0FF0FC;
}

.ManagerApp-leftWidgetContainer .approve{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    border-radius: 2.5em;
    height: 2.8em;

}
.ManagerApp-leftWidgetContainer .summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    border-radius: 2.5em;
    height: 2.8em;
}
.ManagerApp-leftWidgetContainer .adjust{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    border-radius: 2.5em;
    height: 2.8em;
}

.leftWidgetIcons{
    height: 1.5em;
    color:#79eff5;
}

.plus{
    padding-left: 1.1em;
}

.minus{
    padding-left: 1.1em;
}

.penicl{
    padding-left: 1.1em;
}

.plusSpan{
    padding-right: 2.6em;
}

.minusSpan{
    padding-right: 4.8em;
}

.pencilSpan{
    padding-right: 4.8em;
}

.ManagerApp-rightWidgetContainer{
  background: rgba(43, 43, 43, 0.13); /* translucent white */
  backdrop-filter: blur(12px);           /* this adds the blur */
  -webkit-backdrop-filter: blur(12px);   /* for Safari */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* gives depth */
  border: 0.5px solid rgba(255, 255, 255, 0.2); /* subtle border */
    height: 42em;
    width: 40em;
    margin-right: 6em;
    border-radius: 4.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ManagerApp-rightWidgetContainer h1{
    margin: 0;
    padding: 0;
    font-weight: 300;
    margin-top: 1.3em;
    margin-bottom: 1.0em;
}

.ManagerApp-rightWidgetContainer .innerContainer{
  background: rgba(255, 255, 255, 0.13); /* translucent white */
  backdrop-filter: blur(12px);           /* this adds the blur */
  -webkit-backdrop-filter: blur(12px);   /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.1);
    height: 80%;
    width: 93%;
    border-radius:2.0em;
}

.ManagerApp-rightWidgetContainer .innerContainer .header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.255);
    height: 2.3em;
    margin-top: 1em;

}

.ManagerApp-rightWidgetContainer .innerContainer .header .text{
    color: white;
    font-weight: 250;
    font-size: 1.3em;
    padding-left: 2.5em;
}

.ManagerApp-rightWidgetContainer .body{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 1em;
    margin-top: 1em;
    max-height: 83%; /* or set a specific height like 600px */
    overflow-y: auto;
    

}

.transaction-container{
    display: flex;
    align-items: center;
    

}

.transaction-container .transData{
    border: 0.096em solid #0FF0FC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
    width: 78%;
    height: 2.5em;
    border-radius: 0.6em;
}

.transaction-container .transIcons{
    display: flex;
    gap: 1em;
    margin-left: 1.3em;

}

.transData .employee{
    padding-right: 1.2em;
}

.actualIcons{
    height: 3em;
    width: 1.88em;
    cursor: pointer;
}

.pdfIcon{
    display: flex;
    height: 2.2em;
    width: 2.2em;
    margin-left: 3em;
    padding-bottom: 0.1em;
}

.pencilIcon{
    display: flex;
    height: 1.8em;
    width: 1.8em;
    margin-left: 2em;
    padding-bottom: 0.1em;
}

.adjustAmntBTN{
    cursor: pointer; /* Keep this so it's clear the element is clickable */
    color: #161616;
    background-color: #0FF0FC;
    width: 6.7em;
    height: 2em;
    font-weight: 450;
    text-align: center;
    border-radius: 1.2em;
    margin-left: 0.7em;

}

.amountInput {
    all: unset;
    background: rgba(43, 43, 43, 0.13); /* translucent white */
    backdrop-filter: blur(12px);           /* this adds the blur */
    -webkit-backdrop-filter: blur(12px);   /* for Safari */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* gives depth */
    border: 0.5px solid rgba(255, 255, 255, 0.2); /* subtle border */
    border-radius: 0.75em;
    width: 6em;
    height: 2.2em;
    text-align: center;
    padding: 0 0.6em;
    font-size: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
  }

  .budgetText{
    color: #ffffff;
    font-weight: 300;
    font-size: 1.3em;
    padding-left: 7.0em;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 3em;
    gap: 2em;
    
  }
  
  .login-box {
    background: rgba(43, 43, 43, 0.13); /* translucent white */
    backdrop-filter: blur(12px);           /* this adds the blur */
    -webkit-backdrop-filter: blur(12px);   /* for Safari */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* gives depth */
    border-radius: 40px;
    padding: 2.5rem;
    width: 100%;
    max-width: 360px;
    border: 0.5px solid rgba(255, 255, 255, 0.2); /* subtle border */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .login-logo {
    width: 100px;
    margin: 0 auto 1.5rem auto;
    display: block;
  }
  
  .login-box h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  .login-box label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }
  
  .login-box input {
    padding: 0.7rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
  }
  
  .login-box button {
    background-color: #ffffff00;
    color: white;
    padding: 0.7rem;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    font-family: 'Montserrat';
    transition: background-color 0.3s ease, border 0.3s ease;
    
  }
  
  .login-box button:hover {
    background-color: #ffffff1f;
    border: 1px solid rgba(255, 255, 255, 0.1); 

  }
  
  .logInput{
    all: unset;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 0.9em;
    padding-left: 1.7em;
    color:rgb(255, 255, 255);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.472) !important; /* subtle border */
  }

  .logInput:not(:placeholder-shown){
    border-bottom: 0.5px solid rgba(80, 214, 214, 0.824) !important; /* subtle border */

  }

  .logInput::placeholder{
    color: #c3c3c3;
  }
 
  .home-container {
    padding: 2rem;
  }
  
  .home-title {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 4.2rem;
    color: #ffffff;
    background: linear-gradient(90deg, #79eff5, #c0fcec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .home-main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .thHome{
    font-weight: 300;
  }

  .thIcon{
    display: flex;
    align-items: center;
    gap: 0.3em;
  }

  .thIcons{
    color:#79eff5;
    width: 1.3em;
  }
  
  .home-transactions {
    background: rgba(43, 43, 43, 0.13); /* translucent white */
    backdrop-filter: blur(12px);           /* this adds the blur */
    -webkit-backdrop-filter: blur(12px);   /* for Safari */
    border-radius: 2rem;
    padding: 1.8rem;
    width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* gives depth */
    border: 0.5px solid rgba(255, 255, 255, 0.2); /* subtle border */
    
  }
  
  .home-table {
    width: 100%;
    background: rgba(150, 150, 150, 0.186); /* translucent white */
    backdrop-filter: blur(12px);           /* this adds the blur */
    -webkit-backdrop-filter: blur(12px);   /* for Safari */
    border-radius: 1rem;
    border-collapse: collapse;
    overflow: hidden;
    border: 0.5px solid rgba(255, 255, 255, 0.2) !important;/* subtle border */
    
  }

  .table-container{
    max-height: 22em; /* adjust height as needed */
    min-height: 11em;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1rem;
    width: 100%;
    
  }
  
  .home-table th, .home-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2); /* subtle border */
  }
  

  .submit-button {
    background-color: #ffffff37;
    color: rgb(255, 255, 255);
    padding: 0.7rem;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    font-family: 'Montserrat';
    transition: background-color 0.3s ease, border 0.5s ease;
    
  }
  
  .submit-button:hover {
    box-shadow: 0 0 3px #0ff0fcb4;
    border-color: #0FF0FC;

  }
  
  .home-budget {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(43, 43, 43, 0.13); /* translucent white */
    backdrop-filter: blur(12px);           /* this adds the blur */
    -webkit-backdrop-filter: blur(12px);   /* for Safari */
    border: 0.5px solid rgba(255, 255, 255, 0.2) !important;/* subtle border */
    border-radius: 2rem;
    padding: 2rem;
    width: 14rem;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* gives depth */
    margin-right: 2em;

  }
  
  .budget-circle {
    background-color: #f6f6f6;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #44E07E;
    font-size: 1.4rem;
    border: 8px solid #44E07E;
    border-right-color: #ddd;
  }
  
  .receipt-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    flex-wrap: wrap;
    margin-top: 6em;
    gap: 20em;
  }
  
  .upload-box {
    background: rgba(43, 43, 43, 0.13); /* translucent white */
    backdrop-filter: blur(12px);           /* this adds the blur */
    -webkit-backdrop-filter: blur(12px);   /* for Safari */
    border: 1.5px dashed rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* gives depth */
    border-radius: 1.5rem;
    padding: 2rem;
    width: 20rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 21em;
    align-items: center;
    justify-content: center;
  }
  

.file-upload{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  backdrop-filter: blur(8px);
  transition: all 0.2s ease;
  text-align: center;
  user-select: none;
  position: relative;
  overflow: hidden;
  margin-top: 2em;
}

.file-upload:hover {
  box-shadow: 0 0 3px #0ff0fcb4;
  border-color: #0FF0FC;
}

  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .file-upload input[type="file"] {
    display: none;
  }
  
  .receipt-form {
    background: rgba(43, 43, 43, 0.13); /* translucent white */
    backdrop-filter: blur(12px);           /* this adds the blur */
    -webkit-backdrop-filter: blur(12px);   /* for Safari */
    border: 1.5px dashed rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* gives depth */
    border-radius: 2.5rem;
    padding: 2rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    height: 33em;
    align-items: center;
  }

  .receipt-form select {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    font-family: 'Montserrat', sans-serif;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.2s ease;
    outline: none;
    appearance: none;       /* Remove native arrow */
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="white" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
    width: 92%;
  }
  
  
  .receipt-form h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1.7em;
  }
  
  
  
  .receiptInput{
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    font-family: 'Montserrat', sans-serif;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.2s ease;
    outline: none;
    width: 85%;
  }

  .receiptInput::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    padding-left: 0.1em;
  }
  
  .receiptInput:focus {
    box-shadow: 0 0 3px #0ff0fcb4;
    border-color: #0FF0FC;
    background: rgba(255, 255, 255, 0.08);
    font-weight: 100;
  }


  .addEmployee{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    border-radius: 2.5em;
    height: 2.8em;

}

.plusSpanHR{
  padding-right: 4.5em;
}

.summaryHR{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  border-radius: 2.5em;
  height: 2.8em;
}

.minusSpanHR{
  padding-right: 3.5em;
}

.pencilSpanHR{
  padding-right: 3.8em;
}

.hrSubmitBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #F7F7F7;
  width: 10em;
  border-radius: 2em;
  font-size: 1.2em;
  font-weight: 300;
  cursor: pointer;
}

.addform{
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2.4em;
  margin-top: 0.5em;
}

.addInput{
  all: unset;
  border-bottom: 2px solid #0FF0FC;
  width: 18em;
  font-size: 1.3em;
  font-weight: 250;
  padding-bottom: 0.33em; /* ✅ adds space between text and bottom border */
}

.addInput::placeholder {
  color: rgb(189, 189, 189);
}

.trashIcon{
  display: flex;
  height: 2.0em;
  width: 2.0em;
  margin-left: 3em;
  padding-bottom: 0.1em;
  color:rgba(255, 76, 91, 0.55);
}

.modifyContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transDataHR{
  border: 0.096em solid #0FF0FC;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
  width: 78%;
  height: 2.5em;
  border-radius: 0.6em;
}


.refresh-button {
  background-color: #ffffff37;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1); 
  font-family: 'Montserrat';
  transition: background-color 0.3s ease, border 0.5s ease;
  margin-top: 1em;
  
}

.refresh-button:hover {
  box-shadow: 0 0 3px #0ff0fcb4;
  border-color: #0FF0FC;

}

.blackOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 10;
  pointer-events: none; /* so it doesn't block interaction */
}

.category{
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: white !important;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: rgba(43, 43, 43, 0.24); /* translucent white */
  backdrop-filter: blur(12px);           /* this adds the blur */
  -webkit-backdrop-filter: blur(12px);   /* for Safari */
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* gives depth */
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35em;
  gap: 1em;
}

.inputModal{
  width: 5em !important;
}

.iconsAction{
  margin: 0;
  height: 1.5em;
  padding-left: 2em;
}

.actionEdit{
  width: 4em;
  font-size: 0.9em;
  border-radius: 0.5em;
  margin-left: 1em;
}

.modalImg{
  width: 75%;
}

.animContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0FF0FC;
  font-weight: 100;
}

.anim{
  width: 4em;
}

.welcomeAnim{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3.9em;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0 40px;
  background: linear-gradient(90deg, #83D5EC 0%, #A288D3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* standard */
  color: transparent;
}

.toolTipChart{
  background: rgba(43, 43, 43, 0.638); /* translucent white */
  backdrop-filter: blur(12px);           /* this adds the blur */
  -webkit-backdrop-filter: blur(12px);   /* for Safari */
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); /* gives depth */
  padding: 0.7em;
  border-radius: 0.4em;
}

.buttonHolder{
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.smooth-container {
  transition: all 1.4s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}